<h1 class="text-center mt-5">Profilo</h1>
<div class="my-3 text-center">
  <h5>
    Nome utente: <br />
    {{ user.name }}
  </h5>
  <h5>
    Email: <br />
    {{ user.email }}
  </h5>
</div>

<h2 class="text-center">Le tue preferenze</h2>
<div class="row row-cols-md-5 my-5">
  <div
    class="col text-center d-flex align-items-stretch"
    *ngFor="let movie of favorites"
  >
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">
          {{ movie.year }}
        </p>
        <p class="card-text">
          {{ movie.director }}
        </p>
        <button
          (click)="removeFromFavorites(movie.movieId)"
          type="button"
          class="btn btn-primary mt-auto"
        >
          Rimuovi
        </button>
      </div>
    </div>
  </div>
</div>
